
.countries_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}



.countries_container .country {
    margin-bottom: 100px;
    width: 300px;
    height: fit-content;
    
    border-radius: 8px;
    box-shadow: 0px 20px 30px -3px rgba(0,0,0,0.1);

}

.countries_container .country .country_img {
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 199px;
    
}

.countries_container .country .country_content {
    width: 100%;
    padding: 15px;

}

.countries_container .country .country_content .country_name {
    font-weight: bold;
    font-size: 18px;
}
@media (min-width:900px) {
    .countries_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        padding: 5rem;
        margin-top: 10px;

    }

}